.contentWrapper {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    //below two properties are added extra later on by me//
    // display: flex;
    // justify-content: space-between;
}